$color-theme-1: #000;
$color-theme-2: #0061df;
$color-theme-3: #7fc33f;
$color-theme-4: #1d432e;
$color-theme-5: #fff;
$color-theme-6: #daecc3;
$color-theme-7: #003158;
$color-theme-8: #01a8db;

$color-main: $color-theme-1;
$color-active: #2eec07;
$color-inactive: #ec0763ff;

$icon-color: #687882;

$font-family: Helvetica, sans-serif;

$font-size-h1: 6.4rem;
$font-size-h2: 5.2rem;
$font-size-h3: 3.2rem;
$font-size-h4: 2.4rem;

$font-size-x: 1.8rem;
$font-size-m: 1.6rem;
$font-size-s: 1.4rem;
$font-size-xs: 1.3rem;
$font-size-xxs: 1.2rem;

$font-weight-8: 800;
$font-weight-7: 700;
$font-weight-6: 600;
$font-weight-5: 500;
$font-weight-4: 400;
$font-weight-3: 300;
$font-weight-2: 200;

$desktop-x: 1920px;
$desktop-m: 1280px;
$desktop-s: 1240px;
$desktop-xs: 1200px;

$tablet-x: 1024px;
$tablet-m: 991px;
$tablet-s: 767px;

$mobile-x: 479px;
$mobile-m: 375px;
$mobile-s: 320px;

$form-header-input-label-height: 55px;

$form-width: 350px;
$form-height: 480px;
$form-pad: 16px;
$btn-width: 30px;

$position: 40px;

/* COMPANY SETTINGS */
$color-theme-9: #f6a31d;
$color-theme-10: #7cc142;
$color-theme-11: #67a037;

$logo: "../img/logo.png";
$closeIcon: "../svg/close.svg";
$sendIcon: "../svg/send.svg";
