@charset "UTF-8";
/* UTILS */
/* COMPANY SETTINGS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  line-height: 0;
}

figure {
  line-height: 0;
}

button,
input[type=submit] {
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label,
button {
  cursor: pointer;
}

/* for overlay errors*/
#__parcel__error__overlay__,
#__parcel__error__overlay__ * {
  color: #ffeb3b;
}

.chatbot__content a, .chatbot__content_human .btn {
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.chatbot, .chatbot__time, .chatbot__tooltip, .chatbot__btn:before {
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

@-webkit-keyframes to-visible {
  to {
    opacity: 1;
  }
}

@keyframes to-visible {
  to {
    opacity: 1;
  }
}
@-webkit-keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* ORIGINAL */
.d-none {
  display: none;
}

.d-block {
  display: block;
}

/* chatbot__btn */
.chatbot__btn {
  position: fixed;
  bottom: 32px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: #0fa515;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out;
  z-index: 9999;
}

.chatbot__btn::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  left: 12px;
  top: 12px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' width='20' height='20'%3E%3Cpath fill='%23fff' d='M14 8.999v-5a2.003 2.003 0 00-2-2H3a2.003 2.003 0 00-2 2v5a2.003 2.003 0 002 2v1.694a.302.302 0 00.486.244l2.587-1.945H12A1.997 1.997 0 0014 9zm3-2h-2v2a3.003 3.003 0 01-3 3H7v2a2.003 2.003 0 002 2h3.927l2.59 1.941c.198.15.483.004.483-.243v-1.701h1a2.003 2.003 0 002-1.997v-5a2.003 2.003 0 00-2-2z' /%3E%3C/svg%3E");
}

/* chatbot__tooltip */
.chatbot__tooltip {
  position: absolute;
  right: 58px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  white-space: nowrap;
  color: #fff;
  background: #0d9412;
  padding: 5px 8px;
  border-radius: 4px;
  opacity: 0;
  -webkit-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.chatbot__tooltip_show {
  opacity: 1;
}

.chatbot__tooltip::after {
  top: 50%;
  position: absolute;
  content: "";
  border: 5px solid transparent;
  border-left-color: #0d9412;
  margin-top: -5px;
  right: -10px;
}

/* chatbot */
/*
.chatbot {
  display: flex;
  flex-direction: column;
  width: 400px;
  background-color: #fafafa;
  line-height: 1.2;
  color: #212529;
  position: fixed;
  bottom: 0;
  right: 0;
  height: 100%;
  transform: scale(1);
  transform-origin: right bottom;
  transition: transform 0.3s ease;
}

.chatbot_hidden {
  overflow: hidden;
  transform: scale(0);
  transform-origin: right bottom;
  transition: transform 0.3s ease;
}

 */
@media (max-width: 576px) {
  .chatbot {
    width: 100%;
  }
}
.chatbot__title {
  background-color: #0fa515;
  color: #fff;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: bold;
}

.chatbot__close {
  width: 20px;
  height: 20px;
  margin-right: 1rem;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%23fff' d='M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z'%3E%3C/path%3E%3C/svg%3E");
}

.chatbot__close:hover {
  opacity: 1;
}

.chatbot__reset {
  width: 20px;
  margin-left: auto;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  cursor: pointer;
  opacity: 0.8;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M440.65 12.57l4 82.77A247.16 247.16 0 0 0 255.83 8C134.73 8 33.91 94.92 12.29 209.82A12 12 0 0 0 24.09 224h49.05a12 12 0 0 0 11.67-9.26 175.91 175.91 0 0 1 317-56.94l-101.46-4.86a12 12 0 0 0-12.57 12v47.41a12 12 0 0 0 12 12H500a12 12 0 0 0 12-12V12a12 12 0 0 0-12-12h-47.37a12 12 0 0 0-11.98 12.57zM255.83 432a175.61 175.61 0 0 1-146-77.8l101.8 4.87a12 12 0 0 0 12.57-12v-47.4a12 12 0 0 0-12-12H12a12 12 0 0 0-12 12V500a12 12 0 0 0 12 12h47.35a12 12 0 0 0 12-12.6l-4.15-82.57A247.17 247.17 0 0 0 255.83 504c121.11 0 221.93-86.92 243.55-201.82a12 12 0 0 0-11.8-14.18h-49.05a12 12 0 0 0-11.67 9.26A175.86 175.86 0 0 1 255.83 432z'%3E%3C/path%3E%3C/svg%3E");
}

.chatbot__reset:hover {
  opacity: 1;
}

.chatbot__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex: 1 0 auto;
  -webkit-box-flex: 1;
          flex: 1 0 0%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-y: auto;
}

.chatbot__items {
  padding: 0.75rem;
  overflow-y: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}

.chatbot__item {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-bottom: 0.75rem;
}

@-webkit-keyframes animationOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes animationOpacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.chatbot__content {
  width: 70%;
  padding: 0.5rem 0.75rem;
  -webkit-animation-name: animationOpacity;
          animation-name: animationOpacity;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
}

/* bot */
.chatbot__content_bot {
  color: #212529;
  background: #eaeaea;
  border-radius: 0.5rem;
}

/* human */
.chatbot__item_human {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.chatbot__content_human {
  text-align: right;
  padding-right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}

.chatbot__content_human-disabled {
  background: #cafacc;
  border-radius: 0.5rem;
  text-align: left;
}

/* btn */
.btn {
  width: 100%;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: inline-block;
  cursor: pointer;
  font-weight: 400;
  color: #212529;
  text-align: left;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #fff9c8;
  border: 1px solid transparent;
  padding: 0.5rem 0.75rem;
  border-radius: 0.5rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
}

.btn:hover {
  background-color: #fef49a;
  border: 1px solid transparent;
}

.btn:focus,
.btn.focus {
  outline: 0;
}

.chatbot__content .btn {
  margin-bottom: 0.4rem;
}

.chatbot__footer {
  padding: 0.75rem;
  position: relative;
}

/* ie11 */
.chatbot__input::-ms-clear {
  display: none;
}

.chatbot__input {
  display: block;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  width: 100%;
  height: 40px;
  padding: 4px 36px 4px 10px;
  font-weight: 400;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #e0e0e0;
  border-radius: 0.25rem;
  -webkit-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  -o-transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  transition: border-color 0.15s ease-in-out, background-color 0.15s ease-in-out;
}

.chatbot__input:disabled {
  background-color: #fafafa;
}

.chatbot__input:focus {
  border-color: #bdbdbd;
  outline: 0;
}

.chatbot__submit {
  width: 24px;
  height: 24px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  opacity: 0.6;
  position: absolute;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("data:image/svg+xml,%3Csvg aria-hidden='true' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' width='16' height='16'%3E%3Cpath fill='currentColor' d='M476 3.2L12.5 270.6a24 24 0 002.2 43.2L121 358.4l287.3-253.2c5.5-4.9 13.3 2.6 8.6 8.3L176 407v80.5a24 24 0 0042.5 15.8L282 426l124.6 52.2a24 24 0 0033-18.2l72-432A24 24 0 00476 3.2z'%3E%3C/path%3E%3C/svg%3E");
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

.chatbot__submit:disabled {
  opacity: 0.4;
}

.chatbot__submit:focus:not(:disabled),
.chatbot__submit:hover:not(:disabled) {
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  opacity: 0.8;
  cursor: pointer;
}

/* scrollbar */
.chatbot__items::-webkit-scrollbar {
  width: 16px;
}

.chatbot__items::-webkit-scrollbar-thumb {
  background-color: #e0e0e0;
  border-radius: 7px;
  border: 4px solid #fafafa;
}

.chatbot__items::-webkit-scrollbar-button {
  display: none;
}

/* PLUGINS */
.select {
  position: relative;
}

.select__choose {
  position: relative;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.select__choose:after {
  content: "⌃";
  position: absolute;
  right: 20px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(180deg);
      -ms-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.select__choose:hover {
  border: 1px solid #989898;
}

.select__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid transparent;
  border-radius: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  height: 0px;
  overflow: auto;
}
.select__list::-webkit-scrollbar {
  width: 5px;
}
.select__list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
          box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.select__list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.select__list-inner {
  padding: 10px 0;
}

.select__option {
  padding: 10px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.select__option:hover {
  color: #0061df;
}

.select__option--active {
  font-weight: 700;
}

.select.active .select__choose:after {
  -webkit-transform: translateY(-35%) rotate(0deg);
      -ms-transform: translateY(-35%) rotate(0deg);
          transform: translateY(-35%) rotate(0deg);
}
.select.active .select__list {
  height: 160px;
  border-color: #ccc;
}

/* COMPONENTS */
.chatbot__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 18px 0 18px 60px;
  position: relative;
  background-color: #008065;
  font-size: inherit;
  font-weight: 500;
}
.chatbot__title:before {
  content: "";
  width: 32px;
  height: 32px;
  position: absolute;
  left: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #fff;
  background-image: url("/img/logo.cecc779a.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 2px #fff;
          box-shadow: inset 0px 0px 0px 2px #fff;
}
.chatbot__title:after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  left: 38px;
  top: 58%;
  background-color: #2eec07;
  border-radius: 50%;
}

.chatbot__reset {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 10px;
  padding-top: 0px;
  font-size: 20px;
  background: none;
}

.chatbot__close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
  background: none;
}

.chatbot__items {
  padding-top: 40px;
}

.chatbot__item_bot {
  position: relative;
}
.chatbot__item_bot:before {
  content: "";
  width: 28px;
  height: 28px;
  position: absolute;
  left: 0;
  top: 50%;
  opacity: 0;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("/img/logo.cecc779a.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: 2px 2px;
  border-radius: 50%;
  -webkit-box-shadow: inset 0px 0px 0px 2px #3d3935;
          box-shadow: inset 0px 0px 0px 2px #3d3935;
  -webkit-animation: to-visible 0.3s ease-in-out 1 forwards;
          animation: to-visible 0.3s ease-in-out 1 forwards;
}

.chatbot__content_bot {
  padding: 15px;
  -webkit-transform: translateX(40px);
      -ms-transform: translateX(40px);
          transform: translateX(40px);
}

.chatbot__item {
  padding-top: 10px;
  padding-bottom: 10px;
}
.chatbot__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 10px;
  left: 0;
  top: 50%;
  background-image: url("/img/loader2.c23a5573.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-animation: loader 1s linear 1 forwards;
          animation: loader 1s linear 1 forwards;
}

.chatbot__content.chatbot__content_bot {
  opacity: 0;
  -webkit-animation: to-visible 0.5s ease-in-out 1 1s forwards;
          animation: to-visible 0.5s ease-in-out 1 1s forwards;
}

.chatbot__item_human {
  position: relative;
}
.chatbot__item_human:after {
  display: none;
}

.chatbot__content_human-disabled {
  padding: 15px;
  background: #008065;
  color: #fff;
}

.chatbot__content_human .btn {
  padding: 15px;
  border: 1px solid #008065;
  color: #000;
  background-color: #fff;
}
.chatbot__content_human .btn:hover {
  color: #fff;
  background-color: #008065;
}

.chatbot__paragraph {
  margin: 0;
}

.chatbot__member-link {
  display: inline-block;
  padding-bottom: 5px;
  padding-top: 5px;
}

.chatbot__btn {
  width: 62px;
  height: 62px;
  border-radius: 6px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 40px -5px rgba(0, 128, 101, 0.4);
          box-shadow: 0 2px 40px -5px rgba(0, 128, 101, 0.4);
  -webkit-transition: -webkit-transform 0.2s ease;
  transition: -webkit-transform 0.2s ease;
  -o-transition: transform 0.2s ease;
  transition: transform 0.2s ease;
  transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}
.chatbot__btn:hover {
  -webkit-transform: scale(0.95);
      -ms-transform: scale(0.95);
          transform: scale(0.95);
}
.chatbot__btn:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("/img/logo.cecc779a.png");
  background-size: 90%;
  background-repeat: no-repeat;
}

.chatbot__tooltip {
  display: none;
  right: 46px;
  background-color: transparent;
  opacity: 0;
  visibility: hidden;
  z-index: -10;
}
.chatbot__tooltip:after {
  display: none;
}

.chatbot__tooltip-text {
  display: inline-block;
  padding: 10px 15px;
  position: relative;
  border-radius: 30px;
  background-color: #fff;
  font-size: 14px;
}
.chatbot__tooltip-text:after {
  content: "";
  position: absolute;
  margin-top: 0;
  right: -13px;
  border: 8px solid transparent;
  border-left-color: #fff;
  -webkit-transform: rotate(353deg);
      -ms-transform: rotate(353deg);
          transform: rotate(353deg);
}

.chatbot__btn:hover .chatbot__tooltip {
  opacity: 1;
  visibility: visible;
  z-index: 10;
}

.chatbot__btn.active:before {
  background-image: url("/img/close.b35eae0d.svg");
  background-size: 20px;
}
.chatbot__btn.active .chatbot__tooltip {
  opacity: 0;
  visibility: hidden;
  z-index: -10;
}

.chatbot__btn-big {
  /*
  display: inline-block;
  width: auto;
  height: auto;
  padding: 15px 30px;
  border-radius: 0;
  color: #fff;
  background-color: #80c33f;
  box-shadow: 0 9px 20px 4px transparentize(#80c33f, 0.5);
  text-transform: uppercase;
  position: static;
  cursor: pointer;
  @extend %transition-3;
  &:hover {
    background-color: lighten(#70b62d, 0.9);
  }
  &:before {
    display: none;
  }
  &:after {
    display: none;
  }
  */
  cursor: pointer;
}

.chatbot__info {
  position: absolute;
  top: -10px;
  opacity: 0;
  -webkit-animation: to-visible 0.5s ease-in-out 1 forwards;
          animation: to-visible 0.5s ease-in-out 1 forwards;
}

.chatbot__item_bot .chatbot__info {
  left: 40px;
}

.chatbot__item_human .chatbot__info {
  right: 5px;
}

.chatbot__name {
  padding-right: 5px;
  font-size: 12px;
}

.chatbot__item_human .chatbot__name {
  display: none;
}

.chatbot__time {
  font-size: 10px;
  opacity: 0;
}

.chatbot__item_bot:hover .chatbot__time {
  opacity: 0.8;
}

.chatbot__item_human:hover .chatbot__time {
  opacity: 0.8;
}

.chatbot__input {
  height: 45px;
  border-radius: 8px;
}

.chatbot__content a {
  color: blue;
  text-decoration: underline !important;
}
.chatbot__content a:hover {
  text-decoration: none !important;
}

.chatbot__submit {
  width: 24px;
  height: 24px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  opacity: 0.6;
  position: absolute;
  right: 22px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("/img/send.e0767347.svg");
  border: 1px solid transparent;
  background-color: transparent;
  -webkit-transition: opacity 0.15s ease-in-out;
  -o-transition: opacity 0.15s ease-in-out;
  transition: opacity 0.15s ease-in-out;
}

/* LAYOUT */
.chatbot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 350px;
  height: 480px;
  position: fixed;
  bottom: 74px;
  right: 0;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 300;
  color: #000;
  line-height: 1.2;
  background-color: #fafafa;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
  z-index: -100;
  -webkit-transform: translate(-30px, 30px);
      -ms-transform: translate(-30px, 30px);
          transform: translate(-30px, 30px);
  -webkit-box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 479px) {
  .chatbot {
    width: 100%;
    -webkit-transform: translate(0px, 80px);
        -ms-transform: translate(0px, 80px);
            transform: translate(0px, 80px);
  }
}

.chatbot.active {
  -webkit-transform: translate(-30px, -30px);
      -ms-transform: translate(-30px, -30px);
          transform: translate(-30px, -30px);
  opacity: 1;
  visibility: visible;
  z-index: 99999;
}
@media (max-width: 479px) {
  .chatbot.active {
    -webkit-transform: translate(0px, 40px);
        -ms-transform: translate(0px, 40px);
            transform: translate(0px, 40px);
  }
}

.chatbot__wrapper {
  padding-left: 16px;
}

.chatbot__wrapper {
  padding-left: 3px;
  border-top: 1px solid #005f4b;
}

/*# sourceMappingURL=/css/styles.5c8f3eab.css.map */